.jumbotron{
    background-size: cover;
    color: white;
}

.nav{
    background-color:inherit;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: rgb(144,144,144);
}

.col-sm-8{
    background-color: rgb(12, 12, 63);
    padding: 10px;
}

.col-sm-4{
    background-color: rgb(10, 15, 53);
    padding: 10px;
}

.col{
    background-color: rgb(64, 6, 6);
    padding: 10px;
}

h3{
    padding-left: 20px;
    color: rgb(144,144,144);
}

h4{
    padding-left: 20px;
    color:rgb(169, 169, 169)
}

h6{
    font-style:italic;
}

p{
    padding-left: 20px;
    color: rgb(169, 169, 169);
}

li{
    color: rgb(169, 169, 169);
}

img{
    color:rgb(0, 0, 0);
    font-size: 10px;
}

footer{
    color:rgb(20, 20, 20);
    padding: 0px;
}
