.jumbotron{
    background-size: cover;
    color: white;
}

.nav{
    background-color: rgb(169, 169, 169);
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: black;
}

.col-sm-8{
    background-color: rgb(169, 169, 169);
    padding: 10px;
}

.col-sm-4{
    background-color: rgb(144, 144, 144);
    padding: 10px;
}

h3{
    padding-left: 20px;
}

p{
    padding-left: 20px
}
